[viewBag]
==
<section class="section">
    <div class="hotline-calls-header">
        <div class="container">
            <h2>Работает горячая линия</h2>
        </div>
    </div>
    <div class="hotline rel">
        <img src="{{'assets/images/woman.png'|theme}}" alt="">
        <div class="container">
            <div class="hotline-calls-text">
                <div class="text-left">
                    <ul>
                        <li>Остались вопросы?</li>
                        <li>Звоните прямо сейчас!</li>
                    </ul>
                </div>
                <div class="text-right">{{ this.theme.company_phone }}</div>
            </div>
        </div>
    </div>
</section>