[viewBag]
==
<section class="section">
    <div class="company-number">
        <div class="container">
            <div class="company-number-header">
                <h2>Наша компания в цифрах</h2>
            </div>
            <div class="company-number-slider">
                <div class="company-number-items">
                    <ul>
                        <li>
                            <div class="number">{{ this.theme.company_num_1 }}</div>
                            <div class="text">{{ this.theme.company_text_1 }}</div>
                        </li>
                        <li>
                            <div class="number">{{ this.theme.company_num_2 }}</div>
                            <div class="text">{{ this.theme.company_text_2 }}</div>
                        </li>
                        <li>
                            <div class="number">{{ this.theme.company_num_3 }}</div>
                            <div class="text">{{ this.theme.company_text_3 }}</div>
                        </li>
                        <li>
                            <div class="number">{{ this.theme.company_num_4 }}</div>
                            <div class="text">{{ this.theme.company_text_4 }}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>