<div class="footer-top-menu">
    <div class="footer-top-menu-item">
        <div class="item-title">Юридические адреса</div>
        <div class="item-content">
            <ul>
                <li><a href="#">Каталог юрадресов</a></li>
                <li><a href="#">Немассовые адреса</a></li>
                <li><a href="#">Адреса с почтовым обслуживанием</a></li>
                <li><a href="#">Фактические адреса</a></li>
                <li><a href="#">Адреса от собственников</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-top-menu-item">
        <div class="item-title">Дополнительные услуги</div>
        <div class="item-content">
            <ul>
                <li><a href="#">Регистрация компаний </a></li>
                <li><a href="#">Открытие счета</a></li>
                <li><a href="#">Бухгалтерские услуги</a></li>
                <li><a href="#">Почтовое/секретарское обслуживание</a></li>
                <li><a href="#">Сопровождение налоговых проверок</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-top-menu-item">
        <div class="item-title">Компания</div>
        <div class="item-content">
            <ul>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Наша команда </a></li>
                <li><a href="#">Акции и скидки</a></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Прайс лист</a></li>
                <li><a href="#">Сертификаты</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-top-menu-item">
        <div class="item-title">Сотрудничество</div>
        <div class="item-content">
            <ul>
                <li><a href="#">Собственникам помещений</a></li>
                <li><a href="#">Дилерская программа </a></li>
                <li><a href="#">Корпоративным клиентам</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-top-menu-item">
        <div class="item-title">Информация</div>
        <div class="item-content">
            <ul>
                <li><a href="#">Контакты</a></li>
                <li><a href="{{ 'faq'|page }}" class="{% if this.page.id == 'faq' %}active{% endif %}">FAQ</a></li>
                <li><a href="#">Отзывы </a></li>
                <li><a href="#">Гарантии</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Статьи</a></li>
            </ul>
        </div>
    </div>
</div>