<footer class="footer">

    <div class="footer-top">
        <div class="container">
            {% partial 'site/footer-menu' %}
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <section class="section">
                <div class="left">
                    Любые виды оплаты и безналичный расчет!
                </div>
                <div class="center">
                    <ul>
                        <li><img src="{{'assets/images/ico-mastercard.svg'|theme}}" alt="master"></li>
                        <li><img src="{{'assets/images/ico-qiwi.svg'|theme}}" alt="qiwi"></li>
                        <li><img src="{{'assets/images/ico-visa.svg'|theme}}" alt="visa"></li>
                        <li><img src="{{'assets/images/ico-webmoney.svg'|theme}}" alt="webmoney"></li>
                        <li><img src="{{'assets/images/ico-yandex-money.svg'|theme}}" alt="yandex"></li>
                    </ul>
                </div>
                <div class="right delivery">
                    <ul>
                        <li><img src="{{'assets/images/ico-man.svg'|theme}}" alt=""></li>
                        <li>Бесплатная доставка всех документов по Москве!</li>
                    </ul>
                </div>
            </section>
            <section class="section">
                <div class="left logo"><img src="{{'assets/images/logo-white.svg'|theme}}" alt="Uradresa"></div>
                <div class="center copyright">
                    <p>© «РаСоБи» 2006-2018. Все права защищены.</p>
                    <p>Использование материалов сайта - только с согласия администраци</p>
                    <p>г. Москва, Большая Почтовая ул., д. 36, стр. 6-7-8</p>
                </div>
                <div class="right map">
                    <img src="{{'assets/images/ico-map.svg'|theme}}" alt="">
                    Схема проезд
                </div>
            </section>
        </div>
    </div>
</footer>