description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <title>Rasobi - {{ this.page.title }}</title>
    <link rel="icon" type="image/png" href="{{ 'assets/images/ico.png'|theme }}">
    <link href="{{ 'assets/css/style.min.css'|theme }}" rel="stylesheet">
    {% styles %}
</head>
<body>

<!-- Header -->
{% partial 'site/header' %}

<div class="main">
    <div class="container">
        <h2 class="page-title">{{ this.page.description }}</h2>
        <ul class="breadcrumbs">
            <li><a href="/">Главная</a></li>
            <li>{{ this.page.title }}</li>
        </ul>
    </div>

    {% page %}
</div>

<!-- Footer -->
{% partial 'site/footer' %}


<!-- Scripts -->
<script src="{{ 'assets/javascript/main.min.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>
